* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #c0392b;
    --secondary: #e67e22;
    --accent: #f1c40f;
    --bg: #fff9f0;
    --text: #2c1810;
    --dark-bg: #0d0d1a;
    --dark-card: #1a1a2e;
    --dark-text: #e8d5a3;
    --dark-accent: #e67e22;
}
nav{
background-color: #9B2335;   
 display: flex;
 border-radius: 10px 10px 0 0;
    align-items:center;
    justify-content: space-between;
    padding-left:20px;
    padding-right:20px;
}
.logo img{
    height: auto;
    width:80px;
}
.video-block video{
    width: 450px;
    height: 250px;
    object-fit:cover;
border-radius : 12px;
box-shadow: 0 0 24px rgba(0,0,0,0.5);
}
.links{
    display: flex;
   list-style: none;
   gap:25px;

}
.links a{
    text-decoration:none;
    color:white;
   font-size:16px;
    transition: all 0.3s ease;
 display: inline-block;
}
.links a:hover{
    color:var(--accent);
    cursor:pointer;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}
#themeToggle{
   background-color: transparent;
   color:white;
   border-radius:50%;
   border: none;
   padding-right:10px;
   cursor:pointer;
    transition: all 0.3s ease;

}
#layoutToggle{
   background-color: transparent;
   color:white;
   border-radius:50%;
   border: none;
   padding-left:10px;
   cursor:pointer;
    transition: all 0.3s ease;

}
#layoutToggle:hover{
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color:var(--accent);
    transform: translateY(-3px);
}
#themeToggle:hover{
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color:var(--accent);
    transform: translateY(-3px);
}

.hero{
    display:flex;
    align-items: stretch;
    gap:30px;
    padding-left: 30px;
    padding-top:30px;
    padding-bottom:20px;
    background-color: var(--bg);
}
.title-block{
    display:flex;
    text-align:left;
    padding:34px;
    padding-left:2px;
    flex:1;
flex-direction:column;
gap:4px;
}
.title-block p{
    font-size:16px;
    letter-spacing: 2px;
    color:var(--secondary);
    font-weight: 700;
    padding-left:12px;
}
.title-block h1{
    font-size:3rem;
    letter-spacing: 2px;
    color:var(--primary);
    font-weight:bold;
    margin-top:5px;
    margin-bottom:5px;
}
.divider{
    align-items: center;
    margin-bottom:25px;
display:flex;
flex-direction: row;
}
.line{
    display:block;
    height:3px;
    background-color:var(--dark-accent);
    width:150px;
}
.title-block a{
    text-decoration:none;
    color:#F5E6C8 ;
    width:fit-content;
    font-size:large;
    padding:10px;
    background-color: #8B1A1A;
  
    border-radius:10px;
    border: 2px solid #D4AF37; 
    transition:all 0.3s ease;
    display:block;
   will-change: transform; /*di bt2ol ll browser eghaz ll transform eli he7sl f btmni el shutter eli be7sl mid hovering */
}
.title-block a:hover{
    transform:translateY(-3px);
    background-color: #D4AF37;
    color:#8B1A1A;
}
.info-card{
    margin-right:20px;
    display:flex;
    flex-direction:column;
box-shadow: 0 0 8px rgba(0,0,0,0.2);

    flex:1;
background: linear-gradient(135deg,#fff0f0,#fdf0e0);
    border:2px solid var(--secondary); 
    border-radius:16px;
    padding:10px;
    margin-bottom:6px;
    margin-left:30px;
}
.info-card p{margin-bottom:6px;
    font-size: 16px;
    font-weight: 550;
color: var(--text);
}
 .info-card h2{
    font-size: 1.5rem;
    color: #6B2737;
    font-weight: bold;
padding-bottom:6px;
 }
.info-card span{
    display:block;
    height:2px;
    background-color: #D4AF37  ;
   
    width:140px;
    margin-bottom:10px;
}
.info-card h2 img{vertical-align: middle;}


.info-card li{
    padding-left:3px;
    font-size: 16px;
    font-weight: 1000;
    margin-bottom:6px;
    list-style: none;
    color: var(--text);
}














